//.masonry-brick { width: 220px; margin: 10px; float: left;  }
//#masonryContainer { width: 0 auto; }
.overlay{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index:-99;
	background:transparent;
	&:hover{
		background:url(../img/pattern-black.png) repeat;
	}
}
video#bgvid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url(../video/videoPoster.jpg) no-repeat;
	background-size: cover;
}
	
.videoThumnbContainer{
	//margin-top:100px;
	padding-top:100px;
	&.home{
		padding-top:450px;
	}
}
.videoThumb{
	display:block;
	height:142px;
	overflow:hidden;
	span{
		display:block;
		min-width:100%;
		min-height:100%;
		background:transparent;
	}
	img{
		min-width:100%;
		border:1px solid #000000;
	}
	video{
		border:1px solid #000000;
		height:142px;
		&:hover{
			border-left:4px solid #FF5C00;
		}
	}
}

::cue {
  color: #FFF;
  font-family:helvetica;
  background:rgba(#000000, .7);
  font-size:.9em;
}


video::-webkit-media-controls-enclosure { 
	//position:absolute;
	//z-index:10;
}


.overlayBox{
	background:rgba(#000000, .6);
	border:1px solid #000000;
	//min-height:200px;
	color:#FFF;
	border-left:4px solid #FF5C00;
	@include border-radius(5px);
		h3{
			color:#ffffff;
		}
}